@page
@{
    ViewData["Title"] = "Home page";
}
<form asp-page="./Index" method="get">
    <nav aria-label="Search">
        <div class="form-actions no-color row" id="primary-form">
            <div class="col-10"><input type="text" name="q" placeholder="Web Search" class="form-control" id="primary-field" /></div>
            <div class="col-2"><input type="submit" value="Search" class="btn btn-primary" id="primary-search" /></div>
        </div>
    </nav>
    <div id="search-query" class="gcse-searchresults-only" data-mobileLayout="enabled" data-as_oq=""></div>
</form>





